body{
    box-sizing: border-box;
    font-family: arial;
}
button{
    color: white;
    height: 40px;
    width: 120px;
    border: none;
    font-size: 1rem;
}

.add-button{
    background-color: green;
}

.delete-button{
    background-color: rgb(150, 3, 3);
}

input{
    font-size: 1.25rem;
}

.js-list-text, .todo-list-container{
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 250px 200px 100px;
    gap: 10px; 
}

.todo-list-container{
    margin-bottom: 10px;
}
